@media only screen and (max-width:990px) {
    .clear {
        width: 85vw;
        font-size: 28px;
    }

    input {
        width: 85vw;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 3px;
    }

    .button {
        height: 9vh;
        width: 19vw;
        font-size: 24px;
    }
}